/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  padding: 40px;
}
.heading {
  color: #05acff;
  text-align: center;
}
